<ion-item>
  <ion-grid>
    
    <ion-row>
      <ion-col size="12">
        <img 
          class="meal-photo"
          src="../../assets/images/img-1.png"
          alt="">
      </ion-col>
    </ion-row>
    
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <p class="meal-title">Item title</p>
    </ion-row>

    <ion-row class="ion-justify-content-between ion-align-items-center">
      <ion-col size="1">
        <ion-icon name="star"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <p class="meal-rating">Item rating</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button expand="full">Добавить в заказ</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>