<ion-item lines="none">
  <ion-grid class="meal-container ion-no-padding">

    <!-- Фото -->

    <ion-row>
      <ion-col size="12">
        <img 
          class="meal-photo"
          src="../../assets/images/img-1.png"
          alt="">
      </ion-col>
    </ion-row>
    
    <!-- Название -->

    <ion-row class="ion-justify-content-center ion-align-items-center">
      <h4 class="meal-title">Item title</h4>
    </ion-row>

    <!-- Рейтинг -->

    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="8" >
        <ion-row class="ion-justify-content-evenly">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-half-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- Баттон -->

    <ion-row class="ion-justify-content-center">
      <ion-button>Добавить в заказ</ion-button>
    </ion-row>
  </ion-grid>
</ion-item>