.category-1{
    content: url('../../assets/icon/restaurant-icons/001-wine.svg');
}

.icon {
    // width: 5em;
}

.image {
    // background-image: url('../../assets/icon/restaurant-icons/001-wine.svg');
    height: 5em;
    width: 5em;
    margin: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    font-size: 18px;
    margin: 0;
}

:host::ng-deep {
    ion-slide {
        width: 9em !important;
    }
}