<ion-header translucent>
  <ion-toolbar>
    <ion-title>Укажите свое местоположение</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="h-100">
    <ion-col size="12" class="h-100">
      <div class="global-position-selector h-100">
        <div class="global-position-selector__map h-100">
          <div #mapViewEl id="viewDiv"></div>
        </div>
        <ion-button expand="block" [disabled]="!position" (click)="accept()">Подтвердить</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-content>