<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-img src="../../../assets/images/avatar-placeholder/image.jpg"></ion-img>
      </ion-col>
      <ion-col size="8">
        <div class="h-100 d-flex flex-column jc-around profile-name">
          <span class="profile-name__name">{{ clientName$ | async }}</span>
          <ion-button expand="full">Редактировать</ion-button>
        </div>
      </ion-col>
    </ion-row>
  
    <ion-row class="ion-padding-top">
      <ion-col size="12">
        <div class="profile-section">
          <span class="profile-section__header">Ранее заказанное</span>
          <div class="profile-section__divider"></div>
          <div class="profile-section__content">
            <ion-slides [options]="ordersSlider">
              <ion-slide class="order-card__order-slide">
                <div class="order-card">
                  <div class="order-card__id">№123456789</div>
                  <div class="order-card__info">
                    <span>24 февраля 2021г</span>
                    <span>Общая сумма: 5264,84р</span>
                  </div>
                  <div class="order-card__goods-list" style="width: 100%;">
                    <ion-slides [options]="sliderOptions">
                      <ion-slide>
                        <ion-item lines="none">
                          <ion-img src="../../../assets/images/meal-placeholder/image.webp"></ion-img>
                        </ion-item>
                      </ion-slide>
                      <ion-slide>
                        <ion-item lines="none">
                          <ion-img src="../../../assets/images/meal-placeholder/image.webp"></ion-img>
                        </ion-item>
                      </ion-slide>
                      <ion-slide>
                        <ion-item lines="none">
                          <ion-img src="../../../assets/images/meal-placeholder/image.webp"></ion-img>
                        </ion-item>
                      </ion-slide>
                      <ion-slide>
                        <ion-item lines="none">
                          <ion-img src="../../../assets/images/meal-placeholder/image.webp"></ion-img>
                        </ion-item>
                      </ion-slide>
                      <ion-slide>
                        <ion-item lines="none">
                          <ion-img src="../../../assets/images/meal-placeholder/image.webp"></ion-img>
                        </ion-item>
                      </ion-slide>
                    </ion-slides>
                  </div>
                </div>
              </ion-slide>

              <ion-slide class="order-card__order-slide">
                <div class="order-card">
                  <div class="order-card__id">№123456789</div>
                  <div class="order-card__info">
                    <span>24 февраля 2021г</span>
                    <span>Общая сумма: 5264,84р</span>
                  </div>
                  <div class="order-card__orders-list" style="width: 100%;">
                    <ion-slides [options]="sliderOptions">
                      <ion-slide>
                        <ion-item lines="none">
                          <ion-img src="../../../assets/images/meal-placeholder/image.webp"></ion-img>
                        </ion-item>
                      </ion-slide>
                      <ion-slide>
                        <ion-item lines="none">
                          <ion-img src="../../../assets/images/meal-placeholder/image.webp"></ion-img>
                        </ion-item>
                      </ion-slide>
                      <ion-slide>
                        <ion-item lines="none">
                          <ion-img src="../../../assets/images/meal-placeholder/image.webp"></ion-img>
                        </ion-item>
                      </ion-slide>
                      <ion-slide>
                        <ion-item lines="none">
                          <ion-img src="../../../assets/images/meal-placeholder/image.webp"></ion-img>
                        </ion-item>
                      </ion-slide>
                      <ion-slide>
                        <ion-item lines="none">
                          <ion-img src="../../../assets/images/meal-placeholder/image.webp"></ion-img>
                        </ion-item>
                      </ion-slide>
                    </ion-slides>
                  </div>
                </div>
              </ion-slide>

              <ion-slide class="order-card__order-slide">
                <div class="order-card">
                  <div class="order-card__id">№123456789</div>
                  <div class="order-card__info">
                    <span>24 февраля 2021г</span>
                    <span>Общая сумма: 5264,84р</span>
                  </div>
                  <div class="order-card__goods-list" style="width: 100%;">
                    <ion-slides [options]="sliderOptions">
                      <ion-slide>
                        <ion-item lines="none">
                          <ion-img src="../../../assets/images/meal-placeholder/image.webp"></ion-img>
                        </ion-item>
                      </ion-slide>
                      <ion-slide>
                        <ion-item lines="none">
                          <ion-img src="../../../assets/images/meal-placeholder/image.webp"></ion-img>
                        </ion-item>
                      </ion-slide>
                      <ion-slide>
                        <ion-item lines="none">
                          <ion-img src="../../../assets/images/meal-placeholder/image.webp"></ion-img>
                        </ion-item>
                      </ion-slide>
                      <ion-slide>
                        <ion-item lines="none">
                          <ion-img src="../../../assets/images/meal-placeholder/image.webp"></ion-img>
                        </ion-item>
                      </ion-slide>
                      <ion-slide>
                        <ion-item lines="none">
                          <ion-img src="../../../assets/images/meal-placeholder/image.webp"></ion-img>
                        </ion-item>
                      </ion-slide>
                    </ion-slides>
                  </div>
                </div>
              </ion-slide>
            </ion-slides>
            
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>