<ion-list>
  <!-- <ion-list-header lines="inset">
    <ion-label>ДжонДжоли</ion-label>
    <ion-button *ngIf="listCollapsed" (click)="listCollapsed = false">Показать блюда</ion-button>
    <ion-button *ngIf="!listCollapsed" (click)="listCollapsed = true">Скрыть все</ion-button>
  </ion-list-header> -->

  <ng-container *ngIf="!listCollapsed">
    <ion-item-sliding *ngFor="let item of items" icon-only>

      <ion-item-options side="start" (ionSwipe)="remove(item)">
        <ion-item-option color="danger" [disabled]="true" expandable>
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="'../../../../assets/images/meal-placeholder/' + item.image">
        </ion-thumbnail>
        <ion-label class="menu-item-name">
          <div>{{ item.name }}</div>
          <div class="menu-item__rating">
            <ion-icon name="star-outline"></ion-icon>
            {{ item.rating }}
          </div>
        </ion-label>
        <span>{{ item.price }}₽</span>
      </ion-item>

      <ion-item-options side="end" (ionSwipe)="toCart(item)">
        <ion-item-option color="light">
          <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="primary" expandable (click)='toCart(item)'>
          <ion-icon 
            slot="icon-only"
            name="cart-outline"
            [style.color]="'#fff'"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ng-container>
</ion-list>
