:host {
  ion-grid {
    height: 100%;
    ion-row {
      height: 100%;
    }
  }

  .login-header {
    text-transform: uppercase;
    text-align: center;
  }

  .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}