<!-- Если определили глобальное местоположение, то начни показывать меню -->
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <h3>Рекомендовано для вас</h3>
    </ion-row>
    <ion-row class="ion-margin-bottom">
      <ion-col [size]="12">
        <app-recommendations-slider></app-recommendations-slider>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <h3>Популярные категории блюд</h3>
    </ion-row>
    <ion-row class="ion-margin-bottom">
      <ion-col size="12">
        <app-category-item
          (selectCategory)="onCategorySelect($event)">
        </app-category-item>
      </ion-col>
    </ion-row>

    <ion-button (click)="selectPos()">Выбери местоположение</ion-button>
    
    <ion-row class="ion-justify-content-center">
      <h3>Популярные рестораны</h3>
    </ion-row>
    <ion-row class="ion-margin-bottom">
      <app-category-item></app-category-item>
    </ion-row>
  </ion-grid>
</ion-content>
