.ordered-meals {
  flex: 1;

  &__title {
    font-size: 24px;
    font-weight: bold;
    margin: 1rem 0;
  }

  &__meal {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--medium, #92949c);
    border-radius: 4px;
    padding: 0.5rem;
    box-shadow: 2px 2px 4px 0px rgb(34 60 80 / 20%);
    margin-bottom: 0.5rem;
  }
}

.meal-card {
  display: flex;
  padding-bottom: 0.5rem;

  &__image {
    background-image: url("../../../assets/images/meal-placeholder/image.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 12rem;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
  }
}

.separator {
  width: 100%;
  border: 1px solid var(--ion-color-primary);
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;

  &__price {
    font-size: 20px;
    font-weight: bold;
  }

  &__amount-picker {
    display: flex;
    div {
      padding: 0.5rem;
      border: 2px solid var(--medium, #92949c);
      width: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      &:first-of-type {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-right-width: 1px;
      }
      &:last-of-type {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-left-width: 1px;
      }
    }
  }
}

.payment-type {
  &__container {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #666666;
    padding: 0.5rem;
    border-radius: 4px;
    color: #666666;

    &.active {
      border: 2px solid #3880ff;
      & .payment-type__logo {
        color: #3880ff;
      }
    }
  }

  &__logo {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    margin-left: 1rem;
  }
}
