<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Заказ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="h-100 d-flex flex-column">
    <ng-container *ngIf="anyItemsInOrder$ | async then orderContainer; else emptyOrder"></ng-container>
  </ion-grid>
</ion-content>

<ng-template #orderContainer>
  <ng-container *ngIf="step === 'OrderList' then order; else payment"></ng-container>
</ng-template>

<ng-template #order>
  <ion-row class="ordered-meals">
    <ion-col size="12">
      <div class="ordered-meals__title">{{ amountOfItems$ | async }} позиций на сумму {{ totalCost$ | async }}₽</div>
      <div class="ordered-meals__meal" *ngFor="let meal of orderedMeals$ | async">
        <div class="meal-card">
          <div class="meal-card__image"></div>
          <div class="meal-card__info">
            <div class="meal-card__title">{{ meal.name }}</div>
            <div class="meal-card__description"> {{ meal.description }}</div>
          </div>
        </div>
        <div class="separator"></div>
        <div class="price-container">
          <div class="price-container__price">{{ meal.price }}₽</div>
          <div class="price-container__amount-picker">
            <div class="control-btn"><ion-icon name="add-outline" (click)="addMealToCart(meal)"></ion-icon></div>
            <div class="counter">{{ meal.amount }}</div>
            <div class="control-btn"><ion-icon name="remove-outline" (click)="removeOneMealFromCart(meal)"></ion-icon></div>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button expand="full" (click)="step = 'Payment'">Далее</ion-button>
      <!-- <ion-button expand="full" (click)="createOrder()">Оформить заказ</ion-button> -->
    </ion-col>
  </ion-row>
</ng-template>

<ng-template #payment>
  <ion-row class="ion-justify-content-center">
    <ion-col size="10">
      <h2 style="text-align: center; color: #666666;">Выберите способ оплаты</h2>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center" (click)="selectType('Credit')">
    <ion-col size="10">
      <div class="payment-type__container" [class.active]="paymentType === 'Credit'">
        <div class="payment-type__logo">
          <ion-icon name="card-outline"></ion-icon>
        </div>
        <div class="payment-type__title">Банковская карта</div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center" (click)="selectType('Cash')">
    <ion-col size="10">
      <div class="payment-type__container" [class.active]="paymentType === 'Cash'">
        <div class="payment-type__logo">
          <ion-icon name="cash-outline"></ion-icon>
        </div>
        <div class="payment-type__title">Наличные</div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center" (click)="selectType('GPay')">
    <ion-col size="10">
      <div class="payment-type__container" [class.active]="paymentType === 'GPay'">
        <div class="payment-type__logo">
          <ion-icon name="logo-google"></ion-icon>
        </div>
        <div class="payment-type__title">Google Pay</div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-padding-top">
    <ion-col size="10">
      <ion-button expand="full" [disabled]="!paymentType" (click)="createOrder()">Оформить заказ</ion-button>
    </ion-col>
  </ion-row>
</ng-template>

<ng-template #emptyOrder>
  Вы еще не заказали ни одного блюда
</ng-template>